<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QuoteIt UI Automation Suite" parallel="methods" thread-count="1">
    <parameter name="browserType" value="CHROME"/>
    <test verbose="2" preserve-order="true" name="BrokerPortalUI">
        <classes>
            <class name="LoginPageTests"/>
<!--            <class name="BindingPageTests"/>-->
            <class name="DashboardPageTests"/>
            <class name="InsuredPageTests"/>
<!--            <class name="RatingCriteriaPageTests"/>-->
<!--            <class name="SubmissionClearancesTests"/>-->
<!--            <class name="QuotesPage.ExistingSubmissionQuoteTests"/>-->
<!--            <class name="UWPageTests"/>-->
        </classes>
    </test>
</suite>